html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.cards-container {
  width: 100%;
}

.cards-heading {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.suits-title {
  font-size: 16px;
  font-weight: 600;
  flex-basis: 100%;
  margin-bottom: 8px;
}

.suits-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 32px;
}

.suit-card-wrapper {
  flex: 1;
  text-align: center;
}